<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Joyjourney"
        tools:targetApi="31">
        <activity
            android:name=".profile_edit.ProfileEdit"
            android:exported="false" />
        <activity
            android:name=".boarding.BoardingActivity"
            android:exported="false" />
        <activity
            android:name=".user.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".user.wahanadetail.checkout.payment.MetodePembayaran"
            android:exported="false" />
        <activity
            android:name=".user.wahanadetail.checkout.CheckoutActivity"
            android:exported="false"
            android:label="@string/title_activity_checkout"
            android:theme="@style/Theme.Joyjourney" />
        <activity
            android:name=".user.wahanadetail.DetailWisataActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_wisata"
            android:theme="@style/Theme.Joyjourney.NoActionBar" />
        <activity
            android:name=".user.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".admin.crud.CrudActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>